.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card2 {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/background/planets.svg');
}

.card1 {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/background/stars.jpg');
}

/* .card3 {
  opacity: 0.9;
  width: 25ch;
  height: 25ch;
  background-image: url();
} */

.card4 {
  width: 10ch;
  height: 10ch;
  background-image: url('../../assets/background/astro.svg');
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}